데이터 정제 - no 에어컨 환경
1. 없음
2. 사람 1
3. 사람 2
4. 히터 1

In [2]:
import pandas as pd
import os

In [3]:
csvlist = [x for x in os.listdir('.') if x.endswith('.csv')]
print(csvlist)

['thermal_data_heater.csv', 'thermal_data_human_one.csv', 'thermal_data_human_two.csv', 'thermal_data_none.csv']

In [4]:
hedf = pd.DataFrame(pd.read_csv(f'./{csvlist[0]}', index_col=1, header=0))
hudf = pd.DataFrame(pd.read_csv(f'./{csvlist[1]}', index_col=1, header=0))
hsdf = pd.DataFrame(pd.read_csv(f'./{csvlist[2]}', index_col=1, header=0))
nodf = pd.DataFrame(pd.read_csv(f'./{csvlist[3]}', index_col=1, header=0))
dflist = [hedf, hudf, hsdf, nodf]
stlist = ['heater', 'human1', 'human2', 'None']
for x, y in zip(dflist, stlist):
    x['staus'] = y
for x in dflist:
    print(x['staus'].head())

packet_id
1    heater
2    heater
3    heater
4    heater
5    heater
Name: staus, dtype: object
packet_id
1    human1
2    human1
3    human1
4    human1
5    human1
Name: staus, dtype: object
packet_id
8     human2
9     human2
10    human2
11    human2
12    human2
Name: staus, dtype: object
packet_id
1    None
2    None
3    None
4    None
5    None
Name: staus, dtype: object

In [16]:
interDF = pd.concat((dflist[0], dflist[1], dflist[2], dflist[3]), join='outer')

interDF['staus'].unique()
interDF.reset_index(drop=True, inplace=True)

In [17]:
interDF.index.unique()

RangeIndex(start=0, stop=10186, step=1)

In [18]:
interDF.head()

,timestamp,sensor_degree,thermal_00,thermal_01,thermal_02,thermal_03,thermal_04,thermal_05,thermal_06,thermal_07,...,thermal_57,thermal_58,thermal_59,thermal_60,thermal_61,thermal_62,thermal_63,etc_1,etc_2,staus
0,2025-07-29 10:14:31,29.625,24.50,24.50,24.25,25.00,25.50,24.75,24.25,25.50,...,24.50,25.25,24.75,25.75,26.25,23.75,24.50,242.0,226.0,heater
1,2025-07-29 10:14:31,29.625,24.00,24.75,24.50,25.00,25.25,25.00,24.50,25.50,...,24.75,25.75,25.00,25.25,25.25,24.25,24.75,242.0,226.0,heater
2,2025-07-29 10:14:31,29.625,24.25,24.00,24.00,25.00,24.50,24.25,24.25,25.25,...,23.50,24.50,25.00,25.00,25.25,24.00,23.75,242.0,226.0,heater
3,2025-07-29 10:14:32,29.625,23.50,24.25,24.25,24.75,24.25,24.25,24.25,25.75,...,25.00,24.75,25.00,24.75,25.50,23.50,23.75,243.0,226.0,heater
4,2025-07-29 10:14:32,29.625,23.50,24.50,24.75,25.25,25.00,24.75,24.50,25.25,...,24.50,25.25,25.00,25.50,25.75,24.25,23.50,242.0,226.0,heater

In [ ]:
interDF.to_csv('./total_thermal_noAC.csv', index_label=True)